@use '../../styles/vars';

.message {
  margin: 0 auto;
  border-radius: 25px;
  box-shadow: 0 30px 70px 0px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  max-height: 80vh;
  flex: 1;

  &_header {
    background-color: vars.$main-color;
    top: 0px;
    width: 100%;
    height: 70px;
    display: flex;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: white;
    height: 5em;
    padding: 1em 0;

    &_back {
      display: flex;
      align-items: center;
      margin-left: 0.5em;

      &:hover {
        text-decoration: underline;
      }
    }

    &_button {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: .5em;

      & img {
        width: 30px;
        margin-left: 10px;
      }

      & p {
        font-size: 0.9em;
        margin-left: 5px;
        padding: 5px;
      }
    }

    &_title {
      overflow: hidden;
      word-break: break-all;
      margin: 0 1em;
      display: -webkit-box;
      -webkit-line-clamp: 2; /* number of lines to show */
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &_user {
      width: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-right: 15px;

      &:hover {
        font-weight: bold;
        text-decoration: underline;
      }
    }
  }

  &_conversation::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
  }
  
  &_conversation::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #F5F5F5;
  }
  
  &_conversation::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #999;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  }
  
  &_conversation::-webkit-scrollbar-thumb:hover {
    background: #666;
  }

  &_conversation::-webkit-scrollbar-thumb:active {
    background-color: #444;
  }

  &_conversation {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column-reverse;
    overflow: hidden;
    overflow-y: scroll;
    padding: 1em;
    flex: 1;
    min-height: 0px;
    margin-bottom: 5px;

    &_title {
      margin: 20px;
      font-style: italic;
    }

    &_loader {
      left: 0;
      width: 100%;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      z-index: 1;

      & img {
        width: 200px;
      }
    }

    &_talk {
      margin: 5px 0;
      color: white;
      display: flex;
      align-items: center;
      font-size: 18px;
      max-width: 70%;

      & img {
        width: 25px;
        border-radius: 50%;
        margin-bottom: auto;
      }

      & p {
        padding: 1em;
        border-radius: 2em;
        word-break: break-all;
        text-align: left;
        margin-right: 10px;
        background: vars.$light-color;
      }

      &_username {
        color: black;
        font-size: 15px;
        margin: 2px;
        padding: 2px;
        font-style: italic;
      }
      
      &--right {
        margin-left: auto;
        display: flex;
        flex-direction: row-reverse;
      }
      
      &--left p {
        margin-left: 10px;
        background: rgb(216, 216, 216);
        color: black;
      }
    }
  }

  &_form {
    width: 100%;
    background-color: vars.$light-color;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    padding: 15px;

    &_container {
      background: white;
      display: flex;
      width: 90%;
      height: 60px;
      border-radius: 30px;
      align-items: center;
      justify-content: space-between;
      border: 2px solid vars.$light-color;

      &_text {
        width: 90%;
        display: flex;
        margin-left: 1em;


        & input {
          border: none;
          font-size: 16px;
          padding-top: 10px;
          border-radius: 9999px;
          padding: 10px;
          width: 100%;
        }
      }

      &_button {
        background: white;
        border: none;
        margin-right: 1em;

        & img {
          width: 30px;
        }
      }

      &:hover {
        border: 2px solid vars.$main-color;
      }
    }
  }
}




@media (min-width: vars.$medium-breakpoint) {
  .message_conversation {

    &_talk img {
      width: 50px;
    }
  }

  .message_header_button p {
    font-size: 1.1em;
  }
}
