@use '../../styles/vars';

.detailed-post_left {
  
  &_picture {
    width: 100px;
    margin: 5px;
  }

  &_user {
    margin-bottom: 5px;
  }

  &_service {
    display: flex;
    flex-direction: column;
    line-height: 1.4em;
    margin-bottom: 10px;

    &_rate {
      margin-bottom: 5px;
    }
  }
}

.detailed-post_right {

  &_title {
    margin: 10px;
  }

  &_content {
    text-align: justify;
    margin: 20px;
  }
}

.view {

  &_title {
    margin: 25px 10px;
    text-align: justify;
  }

  &_item_user {
    margin: 25px 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &_item_content {
    text-align: justify;
    margin: 25px 20px;
  }
}

@media (min-width: vars.$small-breakpoint) {
  .detailed-post {
    display: flex;

    &_left {
      width: 350vw;
    }
  }
}

@media (min-width: vars.$medium-breakpoint) {
  .detailed-post_left {
    width: 60vw;
    margin: 10px;
    padding: 20px;
  }

  .detailed-post_right_header {
    display: flex;
    justify-content: space-between;
    margin: 30px
  }

  .views {
    padding: 20px;
  }
}
