@use '../../styles/vars';

.detailed-post {

  justify-content: center;
}
.detailed-post_left {
  margin:2rem;
  border:solid 2px vars.$main-color;
  border-radius: 5px;
  padding: 15px;

  &_picture {
    width: 100px;
    margin: 5px;
  }

  &_user {
    margin-bottom: 5px;
    font-weight: bold;
    padding-bottom: 0.3em;
    background: 
    linear-gradient(currentColor 0 0) 
    bottom /var(--d, 0) 2px 
    no-repeat;
  transition:0.4s;
    &:hover {
      --d: 40%;
    }
  }

  &_service {
    display: flex;
    flex-direction: column;
    line-height: 1.4em;
    margin-bottom: 10px;

    &_rate {
      margin-bottom: 5px;
    }
  }
}

.detailed-post_right {
  margin:2rem;
  padding: 1em;
  border:solid 2px vars.$main-color;
  border-radius: 5px;
  max-width: 800px;
  display: flex;
  flex-direction: column;

  &_message {
    margin-top: 1em;
    text-align: right;
  }

  &_title {
    margin: 10px;
    font-weight: bold;

    &_subtitle {
      font-weight: lighter;
      font-size: 0.9em;
      font-style: italic;
    }
  }

  &_content {
    text-align: justify;
    word-wrap: break-word;
    display: flex;
    flex: 1;
    align-items: center;
  }
}

@media (min-width: vars.$small-breakpoint) {
  .detailed-post {
    display: flex;

    &_right_title {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
}

@media (min-width: vars.$medium-breakpoint) {

  .detailed-post_right_header {
    display: flex;
    flex-direction: column;
  }
}
