@use '../../styles/vars';

.create_review {
  margin: 2em;
  text-align: left;

  &_title {
    margin-bottom: 1em;
    font-weight: bold;
  }

  &_form {

    &_comment {
      margin-bottom: 1.5em;
      width: 100%;
    }
  }
}

@media (min-width: vars.$small-breakpoint) {
  .create_review {
    margin: 2em auto;
    max-width: vars.$small-breakpoint;
  }
}
