@use '../../styles/vars';

.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
}

.not-found_content {
  text-align: center;
  background-color: #fff;
  padding: 4rem;
  border-radius: 1rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  margin: 2rem;

  & h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 2rem;
    text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  }

  & p {
    font-size: 1.5rem;
    color: #333;
  }
}



@media (min-width: vars.$medium-breakpoint) {
  .not-found_content {
    padding: 2rem;
  }
}
