@use '../../styles/vars';

.search_results {

  &_list {

    margin: 1em;

    &_item {
      overflow-wrap: anywhere;

      color: white;
      background-color: vars.$light-color;
      box-shadow: vars.$standard-box-shadow;
      display: flex;
      border-radius: 10px;
      margin: 1em;

      &_user {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1em;
        border-right: 1px solid white;
        min-width: 7em;
        max-width: 7em;
        &:hover {
          background-color: vars.$main-color;
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
          transition: background-color 0.2s;
        }

        &_picture {
          margin-bottom: 0.5em;
          width: 4em;
          height: 4em;

          &>img {
            border-radius: 50%;
            width: 100%;
            height: 100%;
          }
        }

        &_rating {
          &--small {
            margin-top: 0.5em;
          }
          &--large {
            display: none;
          }
        }
      }

      &_post {

        padding: 1em;
        display: flex;
        flex-direction: column;
        flex: 1;

        &:hover {
          background-color: vars.$main-color;
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
          transition: background-color 0.2s;
        }

        &_title {
          font-weight: bold;
          overflow-wrap: anywhere;
          display: -webkit-box;
          -webkit-line-clamp: 2; /* number of lines to show */
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          margin-bottom: 0.5em;
        }

        &_date, &_localisation {
          overflow-wrap: anywhere;
          font-size: 0.8em;

          & strong {font-weight: bold}
        }

        &_date {
          margin-bottom: 0.5em;
        }

        &_content {
          
          text-align: left;
          flex-grow: 1;
          display: flex;
          align-items: center;

          &_text {
            display: -webkit-box;
            overflow-wrap: anywhere;
            -webkit-line-clamp: 8; /* number of lines to show */
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }

        &_services {
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-start;
        }
      }
    }

    &_empty {
      background-color: vars.$light-color;
      padding: 1em;
      margin: 2em;
      border-radius: 10px;
      color: white;

      & h2 {
        font-size: 2em;
        font-weight: bold;
        margin-bottom: 1em;
      }
    }
  }
}

@media (min-width: vars.$small-breakpoint) { 
  .search_results_list {
    margin: 2em;

    &_item {
      &_user {
        min-width: 10em;
        max-width: 10em;
        &_picture {
          max-width: 100px;
          min-width: 100px;
          max-height: 100px;
          min-height: 100px;
        }
        &_rating {
          &--small {
            display: none;
          }
          &--large {
            display: block;
          }
        }
      }
    }
  }
}

@media (max-width: vars.$tiny-breakpoint) { 
  .search_results_list {
    &_item {
      &_user {
        display: none;
      }
      &_post {
        border-radius: 10px;
      }
    }
  }
}
