@use 'src/styles/_vars';


.servicecards {
  display: flex;
  justify-content: center;
  max-width: 80%;
  margin-bottom: 1em;

  &_list {
    display: flex;
    justify-content: left;
    overflow-x: auto;
    scrollbar-color: vars.$main-color;
    scrollbar-width: thin;
  }
}

.card {

  display: flex;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
  height: 120px;
  width: 120px;
  align-items: center;
  border-radius: 10%;
  background: white;
  margin: 1em;
  padding: 2.75em 2.5em;
  box-shadow: vars.$standard-box-shadow;
  transition: transform .20s ease, background .20s ease;


    &_logo {
      margin-top: 0.2rem;
      width: 50px;
      margin-bottom: 0.2rem;
    }

    &_title {
      color: #2E3C40;
      line-height: 1;
      padding-bottom: .5em;
      margin: 0.15em;
      border-bottom: 2px solid vars.$main-color;
    }

    &:hover {
      background: vars.$main-color;
      
      h1 {
        color: white;
        border-bottom-color: vars.$alt-color;
      }
  
      }
}

@keyframes point {
  0% {
   transform: translateX(0);
  }
  100% {
    transform: translateX(.125em);
  }
}

@media screen and (min-width: vars.$medium-breakpoint) {
  .servicecards {
    justify-content: center;
  }
}
