@use 'src/styles/_vars';
.card {
  border: 2px solid  vars.$main-color;
  border-radius: 10%;
  width: 120px;
  margin-bottom: 0.5rem;

    &_logo {
      margin-top: 0.2rem;
      width: 50%;
      margin-bottom: 0.2rem;
    }

    &_title {
      color:vars.$alt-color
    }
}

.servicecards {

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 1.5rem;
}

