@use 'reset';
@use 'vars';

body {
  width: 100%;
  font-family: sans-serif;
  background-color: rgb(45,45,45);
}

/* 
  // or you can import your own font
  @font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Regular.ttf');
  }

  body {
    font-family: 'Roboto', sans-serif;
  }
*/
