@use '../../styles/vars';

.app {
  min-height: 100vh;
  margin: 0 auto;
  text-align: center;
  background-color: white;
  background-image: url("../../assets/img/home_background.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;


  .MuiInputBase-formControl {
    background-color: vars.$transparent-background-altcolor;
  }

  .MuiInputBase-root.Mui-focused fieldset {
    border-color: vars.$main-color;
  }

  .MuiInputLabel-outlined.Mui-focused {
    color: vars.$main-color;
  }
}
