@use '../../styles/vars';

.app {
  position: relative;
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  & main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  // Custom styles for MUI input and buttons components
  .MuiInputBase-formControl {
    background-color: vars.$transparent-background-altcolor;
  }

  .MuiInputBase-root.Mui-focused fieldset {
    border-color: vars.$main-color;
  }

  .MuiInputLabel-outlined.Mui-focused {
    color: vars.$main-color;
  }


  .MuiButton-root {
    background-color: vars.$main-color;
    text-transform: "none";

    &:hover{
      background-color: vars.$darker-color;
    }
  }

    &--large {
      font-size: x-large;
    }
}

