@use 'src/styles/vars';

.app {
  min-height: 100vh;
  margin: 0 auto;
  text-align: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: vars.$main-color;
}
