@use '../../styles/vars';

.lastposts {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border: 0;

  &_pannel {
    border: 1px solid black;
    margin: 0 2em 2em 2em;
    background-color: white;
    max-width: 550px;

    &_title {
      padding: 1em;
    }

    &_postlist {

      border-top : 1px solid black;
      &_post {
        width: 100%;
        padding: 1em;

        border-top: 1px solid black;
        &:first-child {
          border: 0;
        }

        &_header {
          display: flex;

          &_picture {
            width: 40px;
            height: 40px;
            margin-right: 0.5em;
          }

          &_info {
            display: flex;
            flex-direction: column;
            justify-content: center;

            &_date {
              display: none;
            }
          }

        }

        &_content {
          display: none;
        }
      }
    }
  }

  @media (min-width: vars.$small-breakpoint) { 
    .lastposts_pannel_postlist {
      display: flex;
      flex-wrap: wrap;

      &_post {
        width: 50%;
        border: 0;

        &:nth-child(-n+2) {
          border-bottom: 1px solid black;
        }
        &:nth-child(even) {
          border-left: 1px solid black;
        }

        &_header {
          margin-bottom: 1em;
        }

        &_content {
          display: -webkit-box;
          -webkit-line-clamp: 3; /* number of lines to show */
          -webkit-box-orient: vertical;
          text-align: justify;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}
