@use '../../styles/vars';

.lastposts {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  border: 0;


  &_pannel {
    margin: 0 2em 2em 2em;
    background-color: white;
    max-width: 550px;
    box-shadow: vars.$standard-box-shadow;
    border-radius: 10px;

    &_title {
      padding: 1em;
      font-weight: bold;
      color: vars.$main-color;
    }

    &_postlist {
      text-align: justify;
      border-top : 1px solid vars.$border-light-color;

      &_post {
        width: 100%;
        padding: 1em;
        border-top: 1px solid vars.$border-light-color;
        &:first-child {
          border: 0;
        }

        &_header {
          display: flex;

          &_picture {
            max-width: 4em;
            max-height: 4em;
            min-width: 4em;
            min-height: 4em;
            border-radius: 50%;
          }

          &_info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 0.5em;

            &_title {
              text-align: left;
              display: -webkit-box;
              -webkit-line-clamp: 2; /* number of lines to show */
              -webkit-box-orient: vertical;
              overflow: hidden;
              text-overflow: ellipsis;
              font-weight: bold;
            }

            &_date {
              font-size: 0.8em;
              font-style: italic;
            }
          }

        }

        &_content {
          display: none;
        }

        &:hover {
          background-color:  vars.$hover-white-color;
          transition: background-color 0.2s;
        }
      }
    }
  }

  @media (min-width: vars.$small-breakpoint) { 
    .lastposts_pannel_postlist {
      display: flex;
      flex-wrap: wrap;

      &_post {
        width: 50%;
        border: 0;

        &:nth-child(-n+2) {
          border-bottom: 1px solid vars.$border-light-color;
        }
        &:nth-child(even) {
          border-left: 1px solid vars.$border-light-color;
        }

        &_header {
          margin-bottom: 1em;
        }

        &_content {
          display: -webkit-box;
          -webkit-line-clamp: 3; /* number of lines to show */
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}
