@use '../../styles/vars';

.searchbar {
  display: flex;
  background-color: vars.$transparent-background-color;
  align-items: center;
  justify-content: center;
  padding: .25em;

  &_label {
    min-width: 110px;
  }

  &_button {
    margin: .25em;
    display: flex;
    align-items: center;
    justify-content: left;
  }

  &_form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &_item {
      width: 160px;
      color: black;
      margin: .25em;
      display: flex;
      align-items: center;
    }

    &_wrapper {
      display: flex;
      align-items: center;
    }

    // &_service {
    //   position: relative;
    //   width: 100px;

    //   &_select_over {
    //     position: absolute;
    //     left: 0;
    //     right: 0;
    //     top: 0;
    //     bottom: 0;
    //   }

    //   &_options {
    //     width: 100%;
    //     display: none;
    //   }
    // }
  }
}
