@use '../../styles/vars';

.searchbar {
  display: flex;
  background-color: vars.$transparent-background-color;
  align-items: center;
  justify-content: center;
  padding: .25em;
  color: vars.$main-color;
  text-align: left;
  flex-direction: column;
  
  &_label {
    text-align: center;
  }

  &_button {
    margin: .25em;
    display: flex;
    align-items: center;
    justify-content: left;
  }

  &_form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    &_item {
      width: 10em;
      color: black;
      margin: .25em;
      display: flex;
      align-items: center;
    }

    &_wrapper {
      display: flex;
      align-items: center;
    }
  }
}

@media (min-width: vars.$medium-breakpoint) {
  .searchbar {
    flex-direction: row;
  }
}
