@use 'src/styles/vars';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 75px;
  background-color: vars.$transparent-background-color;
  padding: 0 0.5rem;
  z-index: 3;

  &_logo {
    height: 150px;
    transition: transform .1s;
    &:hover {
        transform: rotate(-10deg);
        }
  }
  

  &_nav {
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
  }

  &_nav_link {
    color: inherit;
    padding-bottom: 0.4em;
    background: 
      linear-gradient(currentColor 0 0) 
      bottom /var(--d, 0) 2px 
      no-repeat;
    transition: background 0.4s; 

    &:hover {
      --d: 100%;
    }

    &--active {
      font-weight: bold;
      color: vars.$main-color;
    }
  }

  &_burger {
    width: 40px;
    height: 40px;
    background: transparent;
    border: none;
    color: inherit;
  }
}

@media screen and (max-width: vars.$medium-breakpoint) {
  .header_nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: -100vw;
    bottom: 0;
    width: 0;
    height: 100vh;
    padding: 2rem;
    visibility: hidden;
    background-color: #104b4d;
    transition: all .8s ease-out;

    // Adding a line between each item
    &_item::after {
      content: '';
      display: block;
      margin: 0 auto;
      width: 3vw;
      height: 1px;
      background: #FFF;
    }

    // Remove the line from the last item
    &_item:last-child:after {
      display: none;
    }

    &_link {
      color: white;
      display: block;
      padding: 0.4em;
      font-size: 5vw;

      &:hover {
        --d: 0%;
      }

      &--active {
        font-weight: bolder;
        font-style: italic;
      }
    }
  }

  .show-nav .header_nav {
    width: 100vw;
    right: 0;
    visibility: visible;
    z-index: 1;
    color: white;
  }

  .header_burger {
    display: block;
    position: absolute;
    right: 2rem;
    top: 2rem;
    z-index: 2;
  }

  .header_burger_fixed {
    position: fixed;
  }

  .header_burger:hover {
    cursor: pointer;
  }

  .burger_bar,
  .burger_bar::before,
  .burger_bar::after {
    display: block;
    width: 40px;
    height: 3px;
    position: relative;
    border-radius: 3px;
    background: vars.$main-color;
    transition: all .5s ease-in-out;
  }

  .burger_bar::before,
  .burger_bar::after {
    content: '';
    position: absolute;
    left: 0;
  }

  // Positioning of the three lines of the burger
  .burger_bar::before {
    transform: translateY(-12px);
  }

  .burger_bar::after {
    transform: translateY(12px);
  }

  // Turn the burger into a cross
  .show-nav .burger_bar {
    width: 0;
    background: transparent;
  }

  .show-nav .burger_bar::before {
    transform: rotate(45deg);
    background: #FFF;
  }

  .show-nav .burger_bar::after {
    transform: rotate(-45deg);
    background: #FFF;
  }

  // Animation item burger menu
  .header_nav_item {
    transform: translateY(100vh);
  }

  .show-nav .header_nav_item {
    transform: translateY(0);
  }

  .show-nav .slideInDown-1 {
    transition: all 1s ease-out;
  }

  .show-nav .slideInDown-2 {
    transition: all 1.1s ease-out;
  }

  .show-nav .slideInDown-3 {
    transition: all 1.2s ease-out;
  }

  .show-nav .slideInDown-4 {
    transition: all 1.3s ease-out;
  }

  .show-nav .slideInDown-5 {
  transition: all 1.4s ease-out;
}
}
