@use '../../styles/vars';

.intro {
  color: vars.$main-color;
  margin: auto;
  margin-top: 1em;
  padding: 1em;
  width: 50%;
  min-width: 200px;
  background-color: vars.$transparent-background-altcolor;
  text-align: left;
  box-shadow: vars.$standard-box-shadow;

  &_title {
    margin-bottom: 0.5em;
    font-weight: bold;
  }
}
