@use '../../styles/vars';

.intro {
  color: vars.$main-color;
  margin: 2em auto;
  padding: 1.5em;
  width: 80%;
  min-width: 200px;
  background-color: vars.$transparent-background-altcolor;
  text-align: justify;
  box-shadow: vars.$standard-box-shadow;
  border-radius: 10px;

  &_title {
    margin-bottom: 1em;
    font-weight: bold;
    text-align: center;
    font-size: x-large;
    font-family: 'Lora', serif;
  }

  &_content {
    line-height: 25px;
  }

  strong{
    font-weight: bold;
  }
}


@media (min-width: vars.$medium-breakpoint) { 
  .intro {
    width: 65%;
  }
}
