@use '../../styles/vars';

.intro {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro img {
  left: 0;
  width: 100%;
  height: auto;
  z-index: 0;
}

.intro_title {
  margin-bottom: 5px;
  font-size: 1.2em;
}

.content {
  position: absolute;
  z-index: 1;
  width: 70%;
  background: white;
  padding: 5px;
  font-size: 0.9em;
}
