.create_post {
  margin: 1em;
  background: white;
  border-radius: 10px;
  padding: 1em;
  text-align: left;

  &_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1em;

    &_title {
      font-size: 1.4em;
    }
  }
}

.form_radio {
  margin: 0.7em;
}

.form_input {
  display: flex;
  margin-bottom: 15px;
  align-items: center;

  &_title {
    width: 85%;
  }

  &_content {
    width: 100%;
    min-height: 50px;
  }
}

.form_content_title {
  margin-top: 0.7em;
  margin-bottom: 0.7em;
  display: flex;
}

.create_button {
  margin-top: 0.7em;
  margin-bottom: 0.7em;
}
