@use '../../styles/vars';

.reviews {
  display: flex;
  justify-content: center;

  &_pannel {
    background-color: white;
    box-shadow: vars.$standard-box-shadow;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    max-width: vars.$medium-breakpoint;
    margin: 0 2em 2em 2em;
    padding: 1em;

    &_title {
      font-weight: bold;
      color: vars.$main-color;
      border-bottom : 2px solid vars.$main-color;
      padding-bottom: 0.5em;
    }

    &_item {
      text-align: left;
      padding: 0.5em;
      display: flex;
      flex-direction: column;

      &:not(:last-child) {
        border-bottom : 1px solid vars.$border-light-color;
      }

      &:last-child {
        padding-bottom: 0;
      }

      &_giver {
        font-style: italic;
        margin-bottom: 0.5em;
      }

      &_content {
        display: flex;
        flex-direction: column;

        &_comment {
          overflow-wrap: anywhere;
        }
      }
    }
  }
}

@media (min-width: vars.$small-breakpoint) { 
  .reviews_pannel_item {
    flex-direction: row;

    &_giver {
      display: flex;
      align-items: center;
      min-width: 120px;
      margin-right: 30px;
      margin-bottom: 0;
      font-style: italic;
    }
  }
}
