@use '../../styles/vars';

.small_tag {
  padding: .2em 0.4em;
  
  color: black;
  border-radius: 0.5em;
  font-size: 0.8em;
  margin-right: 0.5em;
  margin-top: 0.5em;

  &--frequency {
    color: vars.$main-color;
    font-weight: bold;
    background-color: vars.$background-color;
  }

  &--service {
    color: rgb(88, 86, 86);
    background-color: white;
    font-style: italic;
  }

  &--dark {
    background-color: vars.$light-color;
    font-style: bold;
    color: white;
  }
}
