@use '../../styles/vars';

.registration {

  display: inline-block;
  background-color: white;
  border-radius: 10px;
  width: 80%;
 
  &_form {
    display: flex;
    justify-content: center;
    margin: 1rem;

    &_radio {
      margin-bottom: 0.5rem;
    }

    &_input {
      margin-bottom: 0.5rem;
    }
  }

  &_header {
    margin: 1rem;

    &_title {
      font-size: 1.4em;
      color: vars.$main-color;
      font-weight: bolder;
      
    }

  }

  &_create_button {
    display: flex;
    justify-content: center;  
    margin:1rem;
  }
}

// @media (min-width: vars.$medium-breakpoint) { 
// }
