@use '../../styles/vars';

.background {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: vars.$background-color;
  z-index: -1;

  &-notfound {
    background-image: linear-gradient(to bottom right, #94d8c1, #b1edf8);
  }

  &_image {
    width: 100%;
  }
}
